<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Football Manager</h1>
            <h3>Admin</h3>
            <a id="edit_acc" href="/edit_account">Edit My Account</a>
            <!-- <a id="logout" href="/logout">Logout</a> -->
        </div>
        <!-- API Calls to refresh the database -->
        <a href="/pull_teams_data">Pull Teams Data from Rapid API</a><br>
        <a href="/pull_players_data">Pull Player Data from Rapid API</a><br>
    </div>
</body>
</html>